<div class='row'>
  <div class='span'>
    <h1>SQLs</h1>
  </div>
</div>

<table class='table table-hover'>
	<tr>
		<th>
			Script
		</th>
		<th class='span1'>
			Execute
		</th>
	</tr>

<% @sqls.each do |sql| %>
<tr>
	<td><%= sql %></td>
	<td> <%= link_to 'Run', :controller => 'sqls', :action => 'execute_sql', :script => sql %> </td>
</tr>
<% end %>
	
</table>