<div class='row'>
  <div class='span'>
    <h1>Applications</h1>
  </div>
  <div class='span pull-right'>
    <br><br>
    <%= link_to 'New Application', new_application_path %>
  </div>
</div>

<% unless @applications.empty? %>
  <table class='table table-bordered'>
    <tr>
      <th>Name</th>
      <th class='span3'></th>
    </tr>

  <% @applications.each do |application| %>
    <tr>
      <td><%= link_to application.name, application_path(application) %></td>
      
      <td>
          <i class='icon-pencil muted'></i>
          <%= link_to 'Edit', edit_application_path(application) %> 
          | 
          <i class='icon-remove-circle muted'></i>
          <%= link_to 'Destroy', application, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  <% end %>
  </table>
<% else %>
  <div class='alert alert-error'> 
    <h4> 
      None exist! Create a new application below 
      <i class='icon-hand-down' style='opacity: 0.6'></i> 
    </h4> 

  </div>
<% end %>
<hr>


