<!DOCTYPE html>
<html>
<head>
  <title>C2MS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

    <div class="container">

      <div class="masthead">
        <h3 class="main-title">Cerebrate Config Management System</h3>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li>
                  <a href="/applications">
                    <i class='icon-home muted'></i>
                    Config Management
                  </a>
                </li>
                <li><a href="/sqls"> SQLs </a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <!-- Jumbotron -->
      <div>
		<%= yield %>
	  </div>
	</div>
<hr>
<div class='container'>
      <ul class="nav nav-pill">
        <li><a href="#">Contact</a></li>
      </ul>
</div>
</body>
</html>
